.colors {
	color: #7458B3;
	background: #e5eaf5;
	color: #354d4f;
	color: #4464a4;
}

a {
	color: #494d5f;
}
.shadow {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}
.shadow-large {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08), 0 5px 8px rgba(0, 0, 0, 0.15);
}
.hidden {
	display: none;
}
:focus {outline: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
body {
	background-image: url('../pics/pizza-background.jpeg');
	background-repeat: repeat;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #494d5f;
}
body * {
	box-sizing: border-box;
}
.button {
	background: rgba(84, 100, 164 ,.3);
	text-align: center;
	padding: 8px;
	margin: 10px 5px;
	border-radius: 4px;
	border: none;
	outline: none;
}
.button:hover,
.button:active,
.button:focus {
	background: #5464a4;
	color: white;
	border: none;
	cursor: pointer;
}

.button-1 {
	box-sizing: border-box;
	font-size: 1.11em;
	font-weight: 600;
	display: inline-block;
	text-align: center;
	background: none;
	align-items: center;
	color: #494d5f;
	padding: 8px;
	margin: 0 10px;
	border: none;
	outline: none;
}
.button-1:hover,
.button-1:active,
.button-1:focus{
	cursor: pointer;
	background: rgb(224, 217, 213);
	color: #ce7c0f;
	border-radius: 3px;
	border: none;
	outline: none;
}

.button-2 {
	background: none;
	align-items: center;
	color: #494d5f;
	padding: 4px;
	margin: 0 5px;
	border: none;
	outline: none;
}
.button-2:hover,
.button-2:active,
.button-2:focus {
	cursor: pointer;
	background: rgba(84, 100, 164, .3);
	color: #51b614;
	border-radius: 2px;
	border: none;
	outline: none;
}

.button-3 {
	box-sizing: border-box;
	font-weight: 700;
	font-size: 1.1em;
	color: green;
	display: inline-block;
	text-align: center;
	background: none;
	align-items: center;
	padding: 8px;
	margin: 0 5px;
	border: none;
	outline: none;
}
.button-3:hover,
.button-3:active,
.button-3:focus{
	background: rgba(1, 4, 16, 0.3);
	border-radius: 3px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #f8f6f2;
}
.button-green {
	background: #36a61e;
	color: white;
	text-align: center;
	padding: 8px;
	margin: 10px 5px;
	border-radius: 4px;
	border: none;
	outline: none;
}
.button-green:hover,
.button-green:active,
.button-green:focus {
	background: rgba(62, 71, 117, 0.3);
	color: black;
	border: none;
	cursor: pointer;
}
.button-red {
	background: red;
	color: white;
	text-align: center;
	padding: 8px;
	margin: 10px 5px;
	border-radius: 4px;
	border: none;
	outline: none;
}
.button-red:hover,
.button-red:active,
.button-red:focus {
	background: rgba(62, 71, 117, 0.3);
	color: black;
	border: none;
	cursor: pointer;
}
.button-orange {
	background: orange	;
	color: white;
	text-align: center;
	padding: 8px;
	margin: 10px 5px;
	border-radius: 4px;
	border: none;
	outline: none;
}
.button-orange:hover,
.button-orange:active,
.button-orange:focus {
	background: rgba(62, 71, 117, 0.3);
	color: black;
	border: none;
	cursor: pointer;
}

.button-empty {
	cursor: default;
	background: transparent;
	color: transparent;
}
/* ------------------------ MAIN ----------------------- */
.background {
	height: 255px;
	background-color: #FF9000;
}

.body-block {
	position: absolute;
	margin: 10px;
	min-height: 50vh;
	padding: 15px;
	top: 0;
	left: .7%;
	right: .7%;
	border-radius: 2px;
	background-color: #FFFEF7;
}
.page_width {
	box-sizing: border-box;
	margin: 10px auto;
	min-width: 1000px;
	max-width: 1280px;
}
#errorMsg {
	text-align: center;
	color: red;
}

/* ------------------------ BLOCKS ---------------------- */

.block-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: rgba(208, 195, 157, 0.3);
	height: 60px;
	border-radius: 10px 10px 0 0;
	font-size: 14px;
}

.block-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background-color: rgba(255, 255, 255, 0.84);
	height: 70px;
	border-bottom: 1px solid #d8d8d8;
}
#logo {
	height: 64px;
}

.block-3 {
	padding: 10px 30px;
}
.block-4 {
	display: flex;
	flex-direction: row;
	height: inherit;
}
.block-5 {
	width: 900px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
}

.block-5 table {
	margin: 0 auto;
}
.pics {
	padding: 5px 0;
	box-sizing: border-box; /* Учитываем внешние поля в расчетах размеров */
	text-align: center; /* Центрируем изображение в блоке */
}

.pics img {
	width: 100%; /* Растягиваем изображение на всю ширину блока .pics */
	max-width: 100%; /* Ограничиваем ширину изображения максимально возможным размером */
}
.pics1 {
	padding: 10px 70px;
	box-sizing: border-box; /* Учитываем внешние поля в расчетах размеров */
	text-align: center; /* Центрируем изображение в блоке */
}

.pics1 img {
	width: 100%; /* Растягиваем изображение на всю ширину блока .pics */
	max-width: 100%; /* Ограничиваем ширину изображения максимально возможным размером */
}
.header-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	padding: 0 20px;
	border-left: 1px solid #d8d8d8;
	width: 180px;
}
.header-button:hover,
.header-button:active,
.header-button:focus {
	background-color: #cccccc;
}
.active {
	background-color: #f4f4f4 !important;
	border-radius: 5px 5px 0 0;
}
.page_head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: 10px auto;
	border-bottom: 1px solid #5464a4;
}

.pages {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin: 20px auto;
}
.pagination a {
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.page {
	background-color: white;
	border-radius: 3px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
/* ----------------------- TABLES -------------------------- */

table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}
thead {
	border: 1px solid black;
	background-color: black;
	color: white;
}

table, th, td {
	border: 1px solid rgba(84, 100, 164, .3);
	padding: 10px;
}

th {
	background: rgba(208, 195, 157, 0.3);
	cursor: pointer;
}
th:hover{
	color: red;
}
td {
	cursor: default;
}
td.green-text {
	font-weight: 600;
	color: green;
}
.selected_row {
	background: rgba(84, 100, 164, .3);
}
.icon {
	width: 30px;
	height: 30px;
}
select {
	/* reset */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;

	cursor: pointer;
}
#authorizedLogin {
	margin-right: 15px;
	color: #ce7c0f;
	font-weight: 700;
	font-size: 1.2em;
}
/* ------------------ HIDDEN ELEMENTS ---------------------- */

.additional_window_background {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(238, 238, 238, 0.6);
	z-index: 1;
}
.window {
	width: 400px;
	position: absolute;
	top: 10%;
	left: 20%;
	right: 20%;
	max-width: 600px;
	min-height: 20vh;
	margin: 10vh auto;
	padding: 40px;
	background: white;
	z-index: 2;
}
.window_header {
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	padding-bottom: 30px;
	border-bottom: 1px solid #d7dce6;
	margin-bottom: 15px;
}
.window_form .explain {
	display: block;
	text-align: center;
	font-size: .7em;
	font-weight: 300;
	margin-bottom: 30px;
}
.window_form label {
	display: block;
}
.form-styling {
	width: 100%;
	height: 35px;
	padding: 0 15px;
	border: none;
	border-radius: 5px;
	background: rgba(208, 195, 157, 0.3);
}
.form-styling:hover,
.form-styling:active,
.form-styling:focus {
	cursor: pointer;
	background: rgba(84, 100, 164, .3);
	color: red;
	border-radius: 2px;
	border: none;
	outline: none;
}
.stat-styling {
	width: 190px;
	display: inline-block;
	text-align: center;
	height: 35px;
	padding: 0 10px;
	border: none;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	background: rgba(84, 100, 164, .3);
}
.window_form label {
	font-weight: 300;
	padding-left: 15px;
	padding-bottom: 10px;
	display: block;
}
.window_form input,
.window_form input {
	background: rgba(84, 100, 164, .3);
	font-weight: 500;
}
.window_form input:focus,
.window_form input:focus {
	background: #5464a4;
	border: none;
	-webkit-transition: background .5s ease;
	transition: background .5s ease;
}
.window_form select:focus,
.window_form select:focus {
	background: rgba(84, 100, 164, .3);
	border: none;
	-webkit-transition: background .5s ease;
	transition: background .5s ease;
}
.window_form input[type=file] {
	padding-top: 5px;
}
.window_form_btn {
	float: left;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 20px;
	margin-top: 23px;
	background-color: #5464a4 !important;
}
.window_form_btn:hover,
.window_form_btn:active,
.window_form_btn:focus {
	cursor: pointer;
	/*background-color: #b7c96d;*/
	color: white;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
}

.window-controls a {
	font-size: .8em;
	color: #74808a;
}