<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Sergey Zabolotnyi">
  <meta name="description" content="Pizzeria">
  <meta name="keywords" content="Pizza, final project, 2023">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="#{error.page}"></title>
  <link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body style="text-align: center; font-family: 'Montserrat', sans-serif">

<h1 style="color: darkred; position: relative; margin-top: 40vh">
  <span th:text="${status}"></span> <span th:text="${error}"></span>
</h1>
<p>Path: <span th:text="${path}"></span></p>
<p th:text="${message}"></p>
<a class="button-2" href="/" th:text="#{main.menu}"></a>

</body>
</html>