<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta charset="utf-8">
    <meta name="author" content="Sergey Zabolotnyi">
    <meta name="description" content="Pizzeria">
    <meta name="keywords" content="Pizza, final project, 2023">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizzeria</title>
    <link rel="shortcut icon" th:href="@{/pics/favicon.ico}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/main_request.js}"></script>

</head>

<body>
<div class="background"></div>
<div class="body-block shadow-large page_width">
    <section class="block-1">
        <div style="display:flex; align-items: center">
            <a class="button-1" href="/" th:text="#{main.main}"></a>
            <span sec:authorize="isAuthenticated()"> | <a class="button-1" href="/cart" th:text="#{main.cart}" sec:authorize="isAuthenticated()"></a></span>
            <span sec:authorize="isAuthenticated()"> |<a class="button-1" href="/orders" th:text="#{main.orders}" sec:authorize="isAuthenticated()"></a></span>
            <span sec:authorize="hasRole('ROLE_MANAGER')"> | <a class="button-3" href="/manager/manage_orders" th:text="#{main.manage.orders}" sec:authorize="hasRole('ROLE_MANAGER')"></a></span>
            <span sec:authorize="hasRole('ROLE_MANAGER')"> | <a class="button-3" href="/manager/manage_dishes" th:text="#{main.manage.dishes}" sec:authorize="hasRole('ROLE_MANAGER')"></a></span>
            <span sec:authorize="hasRole('ROLE_MANAGER')"> | <a class="button-3" href="/manager/statistics" th:text="#{main.statistics}" sec:authorize="hasRole('ROLE_MANAGER')"></a></span>
        </div>
        <div>
            <span sec:authorize="isAuthenticated()">
                <a id="authorizedLogin" th:text="${#request.getUserPrincipal().getName()}"></a>
            </span>
            <a class="button-2" href="/login" th:text="#{sign.in}"
               sec:authorize="!isAuthenticated()"></a>
            <a class="button-2" href="/signup" th:text="#{sign.up}"
               sec:authorize="!isAuthenticated()"></a>
            <a class="button-2" href="/logout" th:text="#{sign.out}"
               sec:authorize="isAuthenticated()"></a>

            <label for="locales"></label>
            <select class="button" id="locales">
                <option value="" th:text="#{lang.change}"></option>
                <option value="en" th:text="#{lang.en}"></option>
                <option value="ru" th:text="#{lang.ru}"></option>
            </select>
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#locales").change(function () {
                        let selectedOption = $('#locales').val();
                        if (selectedOption !== ''){
                            window.location.replace('?lang=' + selectedOption);
                        }
                    });
                });
            </script>
        </div>
    </section>

    <section class="pics">
        <img src="/pics/pizza.png" alt="Pizza Image">
    </section>
    <header class="block-2">
        <h2 th:text="#{main.header}"></h2>
    </header>

    <section class="block-3"
             ng-app="get_form" ng-controller="GetController" data-ng-init="getItems()">
        <div class="page_head">
            <div>
                <h2 th:text="#{main.menu}"></h2>
            </div>

            <div ng-model="categories">
                <label for="categories_filter"></label>
                <select id="categories_filter" class="form-styling">
                    <option th:text="#{menu.filter.name}"></option>
                    <option value="0" th:text="#{menu.filter.all}"></option>
                    <option ng-repeat="c in categories" value="{{c.id}}">{{c.category}}</option>
                </select>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#categories_filter").change(function () {
                            category = $('#categories_filter').val();
                            page = 1;
                            replace();
                        });
                    });
                </script>
            </div>
        </div>

        <div id="dishes_block">
            <div>
                <table id="table" ng-model="dishes">
                    <tr>
                        <th columns="0" onclick="sorting('id')">№</th>
                        <th columns="1" onclick="sorting('name', this)" th:text="#{menu.dish}"></th>
                        <th columns="2" onclick="sorting('price')" th:text="#{menu.price}"></th>
                        <th columns="3" onclick="sorting('category')" th:text="#{menu.category}"></th>
                        <th columns="4" sec:authorize="isAuthenticated()" th:text="#{cart.action}"></th>

                    </tr>
                    <tbody id="dishes_table">
                    <tr ng-repeat="i in dishes" class="rows" checked=false>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.price | number:2}}</td>
                        <td>{{i.category.category}}</td>
                        <td sec:authorize="isAuthenticated()">
                            <a class="button-green" dishId="{{i.id}}" ng-click="postdata($event)" th:text="#{button.add}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pages" ng-model="pageable">
            <div th:text="#{page.current} + ' {{pageable.page}}'"></div>

            <div class="pagination">
                <a ng-repeat="x in [].constructor(pageable.totalPages) track by $index"
                   class="button-2"
                   href="/?page={{$index+1}}&sort={{pageable.sortField}}&direct={{pageable.sortDirection}}&category={{pageable.categoryId}}">{{ $index+1 }}</a>
            </div>

            <div th:text="#{page.total} + ' {{pageable.totalPages}}'"></div>
        </div>

    </section>

</div>
</body>

</html>