<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta charset="utf-8">
    <meta name="author" content="Sergey Zabolotnyi">
    <meta name="description" content="Pizzeria">
    <meta name="keywords" content="Pizza, final project, 2023">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizzeria</title>
    <link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/orders_request.js}"></script>

</head>

<body>
<div class="background"></div>
<div class="body-block shadow-large page_width">
    <section class="block-1">
        <div style="display:flex; align-items: center">
            <a class="button-1" href="/" th:text="#{main.main}"></a> |
            <a class="button-1" href="/cart" th:text="#{main.cart}"></a> |
            <a class="button-1" href="/orders" th:text="#{main.orders}"></a> |
            <a class="button-3" href="/manager/manage_orders" th:text="#{main.manage.orders}"></a> |
            <a class="button-3" href="/manager/manage_dishes" th:text="#{main.manage.dishes}"></a> |
            <a class="button-3" href="/manager/statistics" th:text="#{main.statistics}"></a>
        </div>
        <div>
            <a id="authorizedLogin" th:text="${#request.getUserPrincipal().getName()}"></a>
            <a class="button-2" href="/logout" th:text="#{sign.out}"></a>

            <label for="locales"></label>
            <select class="button" id="locales">
                <option value="" th:text="#{lang.change}"></option>
                <option value="en" th:text="#{lang.en}"></option>
                <option value="ru" th:text="#{lang.ru}"></option>
            </select>
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#locales").change(function () {
                        let selectedOption = $('#locales').val();
                        if (selectedOption !== ''){
                            window.location.replace('?lang=' + selectedOption);
                        }
                    });
                });
            </script>
        </div>
    </section>

    <section class="pics">
        <img src="/pics/pizza.png" alt="Pizza Image">
    </section>

    <header class="block-2">
        <h2 th:text="#{main.manage.orders}"></h2>
    </header>

    <section class="block-3"
             ng-app="get_form" ng-controller="GetController" data-ng-init="getAllItems()">

        <div id="dishes_block">
            <div>
                <table id="table" ng-model="orders">
                    <tr>
                        <th columns="0" onclick="tableSort(this, 'table')">№</th>
                        <th columns="1" onclick="tableSort(this, 'table')" th:text="#{orders.time}"></th>
                        <th columns="2" onclick="tableSort(this, 'table')" th:text="#{orders.username}"></th>
                        <th columns="3" onclick="tableSort(this, 'table')" th:text="#{orders.totalPrice}"></th>
                        <th columns="4" onclick="tableSort(this, 'table')" th:text="#{orders.status}"></th>
                        <th columns="5" th:text="#{cart.action}"></th>
                    </tr>
                    <tbody id="dishes_table">
                    <tr ng-repeat="i in orders" class="rows" checked=false>
                        <td>{{i.id}}</td>
                        <td>{{i.time}}</td>
                        <td>{{i.login.login}}</td>
                        <td>{{i.totalPrice}}</td>
                        <td>{{i.status}}</td>
                        <td>
                            <a id="{{i.id}}" class="hidden" ng-click="confirmAction($event)" th:text="#{orders.confirm}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>

</div>
</body>

<script>
    function showButtons() {
        let items = document.querySelectorAll('.rows');
        items.forEach((elem) => {
            let tags = elem.getElementsByTagName("td");
            if (tags[4].innerHTML !== 'NEW' && tags[4].innerHTML !== 'DONE') {
                let link = elem.getElementsByTagName('a');
                link[0].className = 'button';
            }
        });
    }

    let init = () => {
        setTimeout(showButtons, 200);
    }
    window.onload = init;
</script>

</html>
