<!DOCTYPE html>
<html ng-app="get_form" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta charset="utf-8">
    <meta name="author" content="Sergey Zabolotnyi">
    <meta name="description" content="Pizzeria">
    <meta name="keywords" content="Pizza, final project, 2023">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizzeria</title>
    <link rel="shortcut icon" th:href="@{/pics/favicon.ico}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/statistics.js}"></script>

</head>

<body>
<div class="background"></div>
<div class="body-block shadow-large page_width">
    <section class="block-1">
        <div style="display:flex; align-items: center">
            <a class="button-1" href="/" th:text="#{main.main}"></a> |
            <a class="button-1" href="/cart" th:text="#{main.cart}"></a> |
            <a class="button-1" href="/orders" th:text="#{main.orders}"></a> |
            <a class="button-3" href="/manager/manage_orders" th:text="#{main.manage.orders}"></a> |
            <a class="button-3" href="/manager/manage_dishes" th:text="#{main.manage.dishes}"></a> |
            <a class="button-3" href="/manager/statistics" th:text="#{main.statistics}"></a>
        </div>
        <div>
            <a id="authorizedLogin" th:text="${#request.getUserPrincipal().getName()}"></a>
            <a class="button-2" href="/logout" th:text="#{sign.out}"></a>

            <label for="locales"></label>
            <select class="button" id="locales">
                <option value="" th:text="#{lang.change}"></option>
                <option value="en" th:text="#{lang.en}"></option>
                <option value="ru" th:text="#{lang.ru}"></option>
            </select>
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#locales").change(function () {
                        let selectedOption = $('#locales').val();
                        if (selectedOption !== ''){
                            window.location.replace('?lang=' + selectedOption);
                        }
                    });
                });
            </script>
        </div>
    </section>

    <section class="pics">
        <img src="/pics/pizza.png" alt="Pizza Image">
    </section>

    <header class="block-2">
        <h2 th:text="#{main.statistics}"></h2>
    </header>

    <section class="block-5">
    <table id="table">
        <tr>
            <th th:text="#{menu.description}"></th>
            <th th:text="#{menu.value}"></th>
        </tr>
        <tbody id="dishes_table" ng-controller="GetController">
        <tr class="rows" checked=false>
            <td th:text="#{menu.categories.count}"></td>
            <td class="green-text"><span>{{totalCategoriesCount}}</span></td>
        </tr>
        <tr class="rows" checked=false>
            <td th:text="#{menu.dishes.count}"></td>
            <td class="green-text"><span>{{totalDishesCount}}</span></td>
        </tr>
        <tr class="rows" checked=false>
            <td th:text="#{menu.users.count}"></td>
            <td class="green-text"><span>{{totalUsersCount}}</span></td>
        </tr>
        <tr class="rows" checked=false>
            <td th:text="#{menu.orders.count}"></td>
            <td class="green-text"><span>{{totalOrdersCount}}</span></td>
        </tr>
        <tr class="rows" checked=false>
            <td th:text="#{menu.orders.average}"></td>
            <td class="green-text"><span>{{ordersAverageAmount | number:2}}</span></td>
        </tr>
        <tr class="rows" checked=false>
            <td th:text="#{menu.orders.total.amount}"></td>
            <td class="green-text"><span>{{totalOrdersAmount | number:2}}</span></td>
        </tr>
        </tbody>
    </table>
    </section>
    <section class="pics1">
        <img src="/pics/pizza1.jpeg" alt="Pizza Image">
    </section>

</div>

</body>

</html>